/* Basic Setup */
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #202124;
	color: whitesmoke;

}
.container {
	margin-top: 50px;
}

/* Inputs  */
#id_username, #id_password1, #id_password2, #id_password {
	background: transparent;
	border: none;
	width: 100%;
	outline: none;
	color: black;
	border-bottom: 1px solid darkorchid;
}

#id_title, #id_note, #id_related_tag {
	background: transparent;
	border: none;
	width: 100%;
	outline: none;
	color: white;
	border-bottom: 1px solid darkorchid;
}

.btn {
	font-weight: 900;
}
a {
	color: white;
	color: cornflowerblue;
}
a:hover {
	color: cornflowerblue;
	text-decoration: underline;
}
/* New Note Button */
.new-note-btn {
	background: darkorchid;
	color: white;
	border-radius: 50px;
	box-shadow: 0px 0px 10px 2px #000;
}
.new-note-btn:hover {
	color: white;
	box-shadow: 0px 0px 20px 5px #000;
}
.new-note {
	position: absolute;
	bottom: 20px;
	right: 20px;
}



/* Card */
.card {
	color: black;
}

.card-text {
	position:relative;
  width:200px;
  max-height:6em;
  overflow:hidden;
}

.center-text {
	text-align: center;
}

img {
	width: 100%;
	height: 100%;
}

iframe {
	width: 100%;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background-color: #202124;
}
::-webkit-scrollbar-thumb {
  background: #111;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}