/* Basic Setup */
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	color: black;

}
.container {
	margin-top: 80px;
}

/* Inputs  */
#id_username, #id_password1, #id_password2, #id_password {
	background: transparent;
	border: none;
	width: 100%;
	outline: none;
	color: black;
	border-bottom: 1px solid darkorchid;
	margin-bottom: 50px;
}

.icon {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

#id_title, #id_note, #id_related_tag {
	background: transparent;
	border: none;
	width: 100%;
	outline: none;
	color: black;
	border-bottom: 1px solid darkorchid;
}

.card {
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, .5);
}

.btn {
	font-weight: 900;
}
a {
	color: white;
	color: cornflowerblue;
}
a:hover {
	color: cornflowerblue;
	text-decoration: underline;
}
/* New Note Button */
.new-note-btn {
	background: darkorchid;
	color: white;
	border-radius: 50px;
	box-shadow: 0px 0px 20px 5px #000;
}
.new-note-btn:hover {
	color: white;
}
.new-note {
	position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
}



/* Card */
.card {
	color: black;
}

.card-text {
	position:relative;
  width:200px;
  max-height:6em;
  overflow:hidden;
}

.center-text {
	text-align: center;
}

img {
	width: 100%;
	height: 100%;
}

iframe {
	width: 100%;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

.add-shadow {
	box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
	transition: 250ms ease;
}